SELECT 
    *
    FROM Transaction1
    {% if start is defined and end is defined %}
    where '{{ start }}' <= Date and Date <= '{{ end }}'
    {% elif start is defined %}
    where '{{ start }}' <= Date
    {% elif end is defined %}
    where Date <= '{{ end }}'
    {% else %}
    {% endif %}